* {
    font-family: 'Roboto', sans-serif;
    color: darkblue;
}

/* Para eliminar el formato de link antes y después de pulsar en el punto de menú 
con la nota important, esta instrucción tiene preferencia sobre otras */
    a{
        text-decoration: none !important;
        color: inherit; 
    }

/* INICIO HELPERS */
    .spacer10 {
        height: 10px;
        width: 100%;
    }
    .spacer50 {
        height: 50px;
        width: 100%
    }
    .spacer100 {  
        height: 100px;
        width: 100%;
    }

    .spacer150 {  
        height: 150px;
        width: 100%;
    }

/* FIN HELPERS */


/* INICIO CSS CABECERA. Es la misma en todas las pantallas */

.encabezado{
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 0.1rem;
    opacity: 0.95;
    z-index: 1;
}

#bannerEncabezado {
    height: auto;
    width: 900px;
    max-width: calc(87% - (3 * var(--margin)));
}

#menuNavegacion {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    align-items: center;
    margin: 10px;
    font-size: 1.5rem;
    background-color: darkblue;
    color: white;
}


/* FIN CSS CABECERA COMÚN */

/* INICIO FORMATO ULTIMAS NOTICIAS INSTAGRAM */

    .tituloSeccion {
        margin: 10px;
        background-color: darkblue;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        color:white;
    }

    #ultimasNoticiasInstagram {
        display: flex;
        justify-content: center;
        height:fit-content;
    }

   

/* FIN FORMATO GRID IMAGEN - TEXTO */

/* INICIO FOOTER */
    .pie {
        width: 100%;
        height: 70px;
        background-color: darkblue;
        border-top: 10px solid lightblue;
        padding: 0px;
        color: white;
        text-align: center;
    }

    .pie > .social {
        padding-top: 10px;
    }
    .pie > .social a {
        font-size: 1.5rem;
        padding: 10px;
    }

    .pie > .copyright {
        padding-top: 10px;
        font-size: 0.7rem;
        color: lightblue;
    }

/* FIN FOOTER */

.mencionFoto {
	opacity: 0.4;
	font-size: 0.7rem;
}